section h1{
  font-family: abel;
  font-size: 80px;
  display: flex;
  justify-content: center;


}
section p{
  font-family: abel;
  margin-left: 70px;
}


  ul{
    list-style-type: none;
  }



section ul{
  font-family: PT sans;
  margin-left: 70px;

}
section h3{
  font-family: PT sans;
  margin-left: 70px;


}
header section{
  border-bottom: solid;

}
body{
  border-bottom: solid;
  width: 80%
  text :center;

}
header section h1{
  background-color: gray;
  margin: auto;
}
